<p>
  registration works!
</p>
<form class="example-form">

    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "name" name="name" matInput placeholder="enter your first name">
      </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name="email" matInput placeholder="enter your email">
      <p *ngIf = "error.code == 'auth/invalid-email'">{{error}}</p>
    </mat-form-field>
   
  
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name="password" matInput placeholder="enter your password">
    </mat-form-field>
  </form>
  <button mat-raised-button (click) = "register()">Register</button>
  