<p>
  login works!
</p>
<form class="example-form">
<div>
  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "email" name="email" matInput placeholder="enter your email">
    <p *ngIf = "error == 'auth/invalid-email'">{{output}}</p>
  </mat-form-field>
</div>
 
  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "password" name="password" matInput placeholder="enter your password">
  </mat-form-field>
</form>
<button mat-raised-button (click) = "login()">login</button>
