<mat-card class="example-card">

<mat-card-content>
        <a routerLink = "">Todos</a>-
        <a *ngIf = "!(authService.user | async)" routerLink = "/login">login</a>
        -
        <button (click) = "toRegister()">   Register  </button>-
        <button (click) = "toCodes()"> Codes</button>-
        <button (click) = "toUserTodos()"> User Todos</button>
        <button *ngIf = "authService.user | async" (click) ="logout()">Logout</button>
  </mat-card-content>
</mat-card>
<div *ngIf = "authService.user | async">
  <h1>  Welcome {{ (authService.user | async)?.displayName}} </h1>
</div>