<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()">
   <span *ngIf ="!showEditField" (click) = "showEdit()" >{{text}}</span> 
   
   <mat-form-field  *ngIf ="showEditField">
    <input [(ngModel)] = "text" matInput >
   
  </mat-form-field>
  <button *ngIf ="showEditField" mat-raised-button (click) = "save()">Save</button>

  <button *ngIf ="showEditField" mat-raised-button (click) = "cancel()">cancel</button>


    <button mat-raised-button
     (click) = "deleteTodo()"
     *ngIf='showTheButton'
     >Click to delete
    </button>
</li>
